/*** 
=============================================
    Top orientation area style
=============================================
***/
.top-orientation-area {
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
  }
  
  .top-orientation-area .top-orientation-bottom {
    background-color: rgba(5, 0, 0, 0.698);
    box-shadow: 0px 8px 23px -6px black;
    bottom: 0;
    font-size: 36px;
    font-weight: 400;
    left: 0;
    position: absolute;
    width: 100%;
  }
  
  .top-orientation-area .top-orientation-bottom .left ul li{
    color: #f9f9f9;
    font-size: 25px;
    font-weight: 400;
    display: inline-block;
  }

  /*** 
=============================================
    Contact Area style
=============================================
***/
.contact-area {
    padding-bottom: 40px;
    padding-top: 10px;
  }
  .contact-area .sec-title {
    padding: 0 150px 40px;
  }    
  .contact-area .sec-title h2 {
    margin: 0 0 16px;
  }
  .contact-area .sec-title p{
    margin: 0;
    font-size: 18px;
    line-height: 32px;
  }
  .contact-area .img-holder img {
    width: 100%;
  }
  .contact-area .contact-info {
    padding-top: 40px;
  }
  .contact-area .contact-info .single-item {
    margin-bottom: 33px;
    padding-left: 30px;
    position: relative;
  }
  .contact-area .contact-info .single-item .icon-holder {
    left: 0;
    position: absolute;
    top: -5px;
  }
  .contact-area .contact-info .single-item .icon-holder span::before {
    color: #056367;
    font-size: 20px;
  }
  
  .contact-area .contact-info .single-item .text-holder h5 {
    color: #252525;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px;
  }
  .contact-area .contact-info .single-item .text-holder p {
    line-height: 22px;
    margin: 0;
  }
  
  .contact-area .contact-form form input[type="text"],
  .contact-area .contact-form form input[type="email"],
  .contact-area .contact-form form textarea{
    background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid transparent;
    display: block;
    height: 50px;
    margin-bottom: 20px;
    padding: 0 20px;
    width: 100%;
    transition: all 500ms ease;
  }
  .contact-area .contact-form form textarea {
    height: 130px;
    padding: 11px 20px;
    margin-bottom: 30px;
  }
  .contact-area .contact-form form button{
    padding: 17px 32px 15px;  
    transition: all 500ms ease;
  }
  
  .contact-area .contact-form form input[type="text"]:focus{
    border-color: #056367;
  }
  .contact-area .contact-form form input[type="email"]:focus{
    border-color: #056367;    
  }
  .contact-area .contact-form form textarea:focus{
    border-color: #056367;    
  }
  
   /*** 
=============================================
    Custom icons
=============================================
***/

  .fa-phone-alt, .fa-whatsapp, .fa-clock, .fa-building{
    margin: 5px;
    color: #056367;
  }


  /*** 
=============================================
    Custom button
=============================================
***/

  .thm-btn {
    color: #fff;
    display: inline-block;
    box-shadow: 3px 3px 5px #000000;
    border-radius: 5px;
    transition: all 500ms ease;
    line-height: 14px;
  }
  .bg-cl-1{
    background: #056367;  
  }
  .thm-btn:hover{
    background: #141414;  
    color: #fff;
  }


  /* Form validation styles */
input:focus,
textarea:focus,
select:focus {
  border-color: #fdc716;
  outline: none;
}

#contact-form input[type="text"].error{
  border-color: red;    
}
#contact-form input[type="email"].error{
  border-color: red;    
}
#contact-form select.error {
  border-color: red;
}
#contact-form textarea.error{
  border-color: red;    
}
#contact-form label.error {
  display: none !important;
}

  