<mat-toolbar-row><span style="flex: 1 1 auto;"></span>
  <button class="page__button"><b>Concluir e ir para próxima aula</b>
  </button></mat-toolbar-row>

<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Introdução ao Angular</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute">
      <youtube-player
      videoId="tPOMG0D57S0"
      suggestedQuality="highres"
      [height]="300"
      [width]="600"
      [startSeconds]="4"
      [endSeconds]="8">
    </youtube-player>
    </div>
  </div>
</div>
