<mat-nav-list>
  <div class="profile-card">
      <div class="header">
          <h2>El Mineiro</h2>
          <h4>elmineirodev@gmail.com</h4>
      </div>
      <a href="https://github.com/PauloHenriqueJr"><img src="/assets/profile.jpeg" alt="Paulo Henrique Jr"></a>
  </div>

  <mat-divider></mat-divider>

  <h2 matSubheader>Paginas</h2>

  <a mat-list-item routeLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routeLinkActive="list-item" href="https://github.com/PauloHenriqueJr">Github</a>

  <mat-divider></mat-divider>

</mat-nav-list>
