<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">    <script src="https://kit.fontawesome.com/a7d1e099f6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="..public/css/transferencia.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

    <title>Transferência</title>
</head>
<div class="header-container">
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="./images/logo-soulbrasil-2.ico" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mob-navbar"
                    aria-label="Toggle">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mob-navbar">
                    <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pessoa Física</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Pessoa Jurídica</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control-sm me-2" type="number" placeholder="Agência" />
                        <input class="form-control-sm me-2" type="number" placeholder="Conta" />
                        <input class="form-control-sm me-2" type="password" placeholder="Senha" />
                        <button class="btn btn-warning btn-sm ml-2" type="submit">Acesse sua conta</button>
                    </form>
                </div>
            </div>

        </nav>
</div>
</header>

</div>
<div id="hero" class="hero">
    <section class="h-container img-fluid">
        <h1 class="head-h1 text-center">
            BAIXE NOSSO APP e abra sua conta em poucos minutos</h1>
        <h2 class="head-h2 bg-gradient">Conta digital, cartão de crédito, investimentos e mais!</h2>
        <button class="btn btn-warning btn-sm ml-2" id="">Abra sua conta</button>
    </section>

</div>
<!----------------------Inicio do  Main------------------------------->
<section id='fundomain'>
  <body id='fundotransf'>
      <div class="jumbotron jumbotron-fluid">
          <h1 id="titulotransf" class="display text-center">Transferência Bancária</h1>
      </div>
      <div class="container">
        <div class="row flex justify-content-center">
          <div class="col-3 d-flex row justify-content-end" id="colum1">
            <button type="button" class="btn btn-light btn-lg btn-block btn-lg btn-block"
              onclick="adicionaNumero('20,00')">R$
              20,00</button>
            <button type="button" class="btn btn-light btn-lg btn-block btn-lg btn-block"
              onclick="adicionaNumero('50,00')">R$ 50,00</button>
            <button type="button" class="btn btn-light btn-lg btn-block btn-lg btn-block"
              onclick="adicionaNumero('100,00')">R$ 100,00</button>
            <button id="btnsaldo" type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block"> <a href="/saldo">Saldo</a></button>
            <button id="btnsair" type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block"><a href="/principal">Sair da conta</a></button>
          </div>
          <div class="col-6">
            <form id="dadosTransferencia" action="/transferencia" method="post">
              <h3>Selecione o valor que deseja transferir:</h3>
              <fieldset>
                <input placeholder="Digite Agência / Conta do destinatário:" type="text" name="conta" required autofocus>
              </fieldset>
              <fieldset>
                <input placeholder="Valor em R$" type="text" id="mount" name="mount" required>
              </fieldset>

              <input type="hidden" value="<%=usuario.cpf%>" name="cpfUsuario">

              <a class="btn btn-warning" id="bt-transferir" data-toggle="modal" data-target="#modalConfirmacao" onclick="pegarValorTransferencia()">
                TRANSFERIR
              </a>
              <div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog"
                aria-labelledby="TituloModalCentralizado" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="TituloModalCentralizado">Confirmar</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      Você confirma a transferência de R$ <span id="valorTransferencia"></span>?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                      <button type="submit" href="/saldo" class="btn btn-secondary">Confirmar</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-3 d-flex row justify-content-end" id="colum2">
            <button type="button" class="btn btn-light btn-lg btn-block btn-lg btn-block"
              onclick="adicionaNumero('200,00')">R$ 200,00</button>
            <button type="button" class="btn btn-light btn-lg btn-block btn-lg btn-block"
              onclick="adicionaNumero('500,00')">R$ 500,00</button>
            <button type="button" class="btn btn-light btn-lg btn-block btn-lg btn-block"
              onclick="adicionaNumero('1000,00')">R$ 1.000,00</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block" disabled>Depositar</button>
            <button type="button" class="btn btn-secondary btn-lg btn-block btn-lg btn-block" disabled>Pagar boleto</button>
          </div>
        </div>
      </div>
      <script>
          function adicionaNumero(money) {
            document.getElementById("mount").value = money;
          }
          function pegarValorTransferencia(){
            $("#valorTransferencia").text(document.getElementById("mount").value)


          }
        </script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"></script>
  </body>
</section>
<!----------------------INÍCIO FOOTER------------------------------->
<footer class="footer-container img-responsive">

    <div class="footer-bottom-area bg-dark-light pt-4">
        <div class="container">
            <div class="row widgets footer-widgets">

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-about">
                        <h5 class="widget-title">Sobre Nós</h5>
                        <p>Um banco transparente e completo com produtos exclusivos <a href="#">Saiba mais...</a></p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quick-links">
                        <h5 class="widget-title">Minha Conta</h5>
                        <ul>
                            <li><a href="#">Mapa do Site</a></li>
                            <li><a href="#">Política de Privacidade</a></li>
                            <li><a href="#">Sua Conta</a></li>
                            <li><a href="#">Pesquisa Avançada</a></li>
                            <li><a href="#">Fale Conosco</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-quick-links">
                        <h5 class="widget-title">Atendimento ao Cliente</h5>
                        <ul>
                            <li><a href="#">Política de Envio</a></li>
                            <li><a href="#">Benefícios</a></li>
                            <li><a href="#">Minha Conta</a></li>
                            <li><a href="#">Política de Cancelamento</a></li>
                            <li><a href="#">Postos de Atendimento</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-12">
                    <div class="single-widget widget-contact">
                        <h5 class="widget-title">Localização</h5>
                        <ul>
                            <li class="address">
                                <span class="icon"><i class="fa fa-map-marker"></i></span>
                                <p>Address : No 100 Baria Sreet 100/2 Jaipur City, IN.</p>
                            </li>
                            <li class="phone">
                                <span class="icon"><i class="fa fa-phone"></i></span>
                                <p><a href="#">+91 7568 54 3012</a></p>
                            </li>
                            <li class="fax">
                                <span class="icon"><i class="fa fa-fax"></i></span>
                                <p><a href="#">+91 7568 54 3012</a></p>
                            </li>
                            <li class="email">
                                <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                <p><a href="#">atendimento@bancosoulbrasil.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>
<!----------------------Fim FOOTER------------------------------->


</html>
