<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Sobre o Portal</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute">
     <p>Seja bem vindo ao portal <strong>Angular Dev Academy</strong></p>

<p>Criei esse portal como teste para fornecer curso gratuito a crianças carentes.</p>

<p>Nessa plataforma você pode:</p>

<ul>
  <li>Assistir as vídeo-aulas e estudar na hora que puder!
  </li>
  <li>Futuramente poderá baixar seu certificado digital</li>
</ul>

<p><strong>O curso é totalmente gratuito</strong> e está disponível no Youtube. Caso queira assistir por lá, fique à vontade!</p>

<p>Bons códigos!</p>
    </div>
  </div>
</div>



