<nav class="navbar navbar-default" style="background: #dff0d8;
color:white; border: 0;" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="/" routerLinkActive="active" class="navbar-brand" [routerLink]="['/']">Conversor de Moedas</a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-app">
        <span class="sr-only">Mostra/Esconde a navegação</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a target="_blank"
          rel="noopener noreferrer"
          href="https://paulohenriquejr.github.io/my_potfolio/index.html">
          Portfolio</a>
        </li>
        <li>
          <a
            target="_blank"
            rel="noopener noreferrer"
            href="https://github.com/PauloHenriqueJr"
          >
            Github
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-conversor></app-conversor>
