<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Descrição</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute">
     <p>Angular é um framework que permite desenvolver aplicações web e mobile, mantido pela Google. Apesar de ser a segunda versão do framework, Angular não é a continuação do Angular v1 (AngularJS) com melhores e novas funcionalidades, foi reescrito.</p>

<p>Nesse curso vamos aprender como desenvolver com <strong>Angular e TypeScript.</strong> Você vai aprender os conceitos básicos e intermediários do Angular, desde os primeiros passos até uma aplicação completa com requisições ao servidor e rotas.</p>

<p>Vamos aprender os conceitos de componentes, templates, diretivas, serviços, data-binding, validação de formulários, formulários reativos, roteamento (single page application – SPA) e como conectar ao servidor e trabalhar com RxJS (Observables).</p>

<p>Não é necessário saber AngularJS para esse curso, já que o Angular foi reescrito. Vamos aprender todos os conceitos do zero, então não se preocupe!</p>

<p><strong>Nível:</strong> Iniciante ao Intermediário</p>

<p><strong>Curso em andamento</strong> – as aulas ainda estão sendo publicadas. O certificado só ficará disponível quando todas as aulas forem publicadas.</p>
    </div>
  </div>
</div>
