
<%- include('../partials/header'); %>

<main>
  <div class="container-fluid">
    <div>
      <h1 class="my-3">Sistema Escolar Mineiro</h1>
    </div>
    <div>
      <h2 class="my-3">Abra a guia alunos e faça o cadastro agora mesmo</h2>
    </div>
  </div>
</main>

<%- include('../partials/footer'); %>