<mat-nav-list>
  <div class="logo py-4">
    <img src="./assets/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">CURSO COMPLETO DE ANGULAR</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/sobre">
    <mat-icon>home</mat-icon> Sobre o Portal
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/descricao">
    <mat-icon>dashboard</mat-icon> Descrição do Curso
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/aula01"> <mat-icon>check_box_outline_blank</mat-icon> Introdução ao Angular </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/aula02"> <mat-icon>check_box_outline_blank</mat-icon> Ambiente de Desenvolvimento </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/aula03"> <mat-icon>check_box_outline_blank</mat-icon> Hello, World!</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/aula04"> <mat-icon>check_box_outline_blank</mat-icon> Introdução ao TypeScript </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/aula05"> <mat-icon>check_box_outline_blank</mat-icon> Módulos (ngModule)</a>
  <a mat-list-item> <mat-icon>check_box_outline_blank</mat-icon> Templates </a>
  <a mat-list-item> <mat-icon>check_box_outline_blank</mat-icon> (Services) e (DI)</a>
  <a mat-list-item> <mat-icon>check_box_outline_blank</mat-icon> Plugins para Atom e VS Code</a>
</mat-nav-list>

