<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <link rel="stylesheet" href="/assets/style.css">
  <script src="../assets/script.js"></script>
  

  
    <!-- CDN CSS Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CDN jQuery -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.slim.js"></script>

  <title>Biblioteca<</title>
</head>
<body>
  <header>
    <div class="container-fluid" ></div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">
          <img src="/images/logo.png" class="img-fluid" width=30vw alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style="background-image: url('https://mdbcdn.b-cdn.net/img/svg/hamburger2.svg?color=056367');">
            </span>
        </button>

        <div class="collapse navbar-collapse justify-content-lg-end"  id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">
                <i class="fa fa-home" aria-hidden="true"></i>INICIO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/livros">
                <i class="fa fa-handshake" aria-hidden="true"></i>LIVROS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">
                <i class="fa fa-search" aria-hidden="true"></i>PESQUISAR</a>
            </li>
          </ul>
        </div>
    </nav>
  </header>
  <main>
    <div class="container-fluid mt-5">
      <div class="d-flex justify-content-between align-items-end">
        <h1 class="my-3">Cadastrar Livro</h1> <a href="/livros" class="btn btn-warning">Voltar</a></div>
  
      <form action="/livros/novo" method="post">
        <div class="mb-3">
          <label class="form-label" for="titulo">Titulo</label>
          <input class="form-control" type="text" name="titulo" id="titulo" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="autor">Autor</label>
          <input class="form-control" type="text" name="autor" id="autor" required>
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="editora">Editora</label>
          <input class="form-control" type="text" name="editora" id="editora" required>
        </div>

        <div class="mb-3">
          <label class="form-label" for="ano">Ano</label>
          <input class="form-control" type="number" name="ano" id="ano" required>
        </div>
  
        <div class="mb-3">
          <label class="form-label" for="isbn">ISBN</label>
          <input class="form-control" type="number" name="isbn" id="isbn" required>
        </div>
  
        <button class="btn btn-success" type="submit">Cadastrar</button>
      </form>
    </div>
  </main>
  <div class="mt-5"></div>
 <!-- CDN CSS Bootstrap -->
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
 integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

<!-- CDN jQuery -->
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.6.0.slim.js"></script>

<script src="assets/js/validation.js"></script>
</body>

</html>

  