h1{
  text-align: center;
  font-size: 30px;
}

.screen{
  background-color: white;
}

select#month {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #3f51b5;
    border-radius: 10px;
    height: 55px;
    outline: medium none;
    padding: 0 2rem;
    width: 100%;
    margin-top: 1rem;
}

input#cases {
    background: rgba(255, 255, 255, 0) none repeat scroll 0 0;
    border: 1px solid #3f51b5;
    border-radius: 10px;
    height: 55px;
    outline: medium none;
    padding: 0 2rem;
    width: 100%;
    margin-top: 1rem;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
